@media only screen and (max-width: 768px) {

  .wrap-print {
    width: 100%;
  }

  #list {
    display: none !important;
  }

  .modal-preview-file .modal-dialog {
    max-width: 90% !important;
    margin: 1.75rem auto;
  }

  #medium {
    display: none !important;
  }

  #web {
    display: none !important;
  }

  .padding-responsive {
    padding: 0.5rem;
  }

  .card-dashboard {
    height: 96px;
    width: 50%;
  }

  .notification-container {
    position: fixed;
    width: 100%;
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    max-width: 375px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #fix-date-rage .DateRangePicker_picker.DateRangePicker_picker_1.DateRangePicker_picker__directionLeft.DateRangePicker_picker__directionLeft_2 {
    width: 100%;
    overflow-x: auto;
  }

}

@media only screen and (min-width: 1441px) {
  .header-mobile {
    margin-left: 260px;
  }

  .main-container {
    margin-left: 260px;
  }

  .padding-responsive {
    padding: 1rem;
  }

  #medium {
    display: none !important;
  }

  #mobile {
    display: none !important;
  }

  .open-slide {
    left: 260px
  }

  .sidenav {
    left: 0 !important;
    border-right: 1px solid #dfe2e5;
    z-index: 997 !important;
  }

  .header-mobile-left i {
    display: none !important;
  }

  #overlay-main.overlay {
    display: none;
  }

  #main.opacity-main {
    height: 0;
    position: relative;
  }

  .card-dashboard {
    width: 33%;
  }

  .notification-container {
    top: 20px;
    position: fixed;
    width: 60%;
  }

  .notify-web-a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    max-width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1440px) {

  .padding-responsive {
    padding: 1rem;
  }

  #mobile {
    display: none !important;
  }

  #list {
    display: none !important;
  }

  .open-slide {
    left: 260px
  }

  .card-dashboard {
    width: 33%;
  }

  .notification-container {
    top: 20px;
    position: fixed;
    width: 60%;
  }

  .notify-web-a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-search-survey-web {
    min-width: 100px;
    width: 150px;
    padding-left: 8px;
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    max-width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.modal-preview-file .modal-dialog {
  max-width: 1235px;
  margin: 1.75rem auto;
}

.modal-preview-file .modal-content img {
  width: auto;
  height: 539px;
  max-height: 539px;
}

.modal-preview-file .modal-dialog.modal-dialog-centered
{
  height: 100%;
}
.modal-preview-file .modal-content.pdf {
  height: 90%;
}
.modal-preview-file .modal-content.png {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 0;
  max-height: 539px;
  max-width: 1235px;
}

.modal-preview-file .modal-content iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {

  .modal-preview-file .modal-content img {
    width: 100%;
    height: auto;
    max-height: 594px;
  }

  .modal-preview-file .modal-dialog {
    width: 100%;
    margin: 1.75rem auto;
  }

  .close-modal-preview.png {
    top: -50px !important;
    right: 0 !important;
  }
}

.close-modal-preview.pdf {
  position: absolute;
  top: -50px;
  right: 0;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-modal-preview.png {
  position: absolute;
  top: -50px;
  right: 0;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

@media (min-width: 768px) {

  .wrap-print {
    width: 50%;
  }

  .modal-survey .modal-dialog {
    width: 70% !important;
    max-width: 70%;
  }
}

.close-modal-preview:hover,
.close-modal-preview:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-preview-file {
  position: relative;
}

@media (min-width: 375px) {
  .tags-list .dropdown-kiroku.dropdown-menu.headerm {
    min-width: 138px;
  }

}

@media (max-width: 850px) {
  .text-page-size {
    display: none;
  }
}

.scroll-data-logic-single {
  overflow-y: auto;
  max-height: 60vh;
}

.default-background-color {
  background-color: #eef3f6;
  min-height: 100vh;
}

.main-content-mobile {
  padding-top: 54px;
}

.header-mobile {
  position: fixed;
  display: flex;
  height: 54px;
  max-height: 54px;
  padding: 0 18px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 995;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.08);
}

.title-page-component {
  font-size: 18px;
  color: #091e42;
  font-family: Noto Sans, NotoSansCJKjp-Bold, sans-serif;
}

.header-mobile-left {
  display: flex;
  align-items: center;
}

.header-mobile-left i.fa {
  color: #1991eb;
  font-size: 20px;
  cursor: pointer;
}

.header-mobile-right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header-user-avatar {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.header-user-avatar .avatar {
  cursor: pointer;
  z-index: 100;
  position: relative;
  margin-left: 12px;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 100%;
  background-position: center center;
  background-size: cover;
}

.header-notify {
  display: inline-block;
}

.ant-badge {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.sup-count {
  position: absolute;
  transform: translateX(-50%);
  top: -3px;
  height: 15px;
  border-radius: 10px;
  min-width: 15px;
  background: #f04134;
  color: #fff;
  line-height: 15px;
  text-align: center;
  padding: 0 2px;
  font-size: 12px;
  white-space: nowrap;
  transform-origin: -10% center;
}

.notify {
  font-size: 35px;
  color: #7f8fa4;
  padding-top: 3px;
  padding-right: 10px;
}

.topbar-divider {
  border-left: 1px solid rgba(77, 82, 89, 0.07);
  height: 20px;
  align-self: center;
  margin: 0 5px;
}

.dropdown-kiroku.dropdown-menu.headerm {
  right: 5px;
  top: 62px;
  width: auto;
  overflow: visible !important;
  border: 1px solid rgb(229, 230, 231);
  border-radius: 2px;
}

.dropdown-kiroku.dropdown-menu.headerm:before {
  left: auto;
  right: 21px;
  content: '';
  position: absolute;
  top: -11px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid rgba(0, 0, 0, 0.07);
}

.tags-list .dropdown-kiroku.dropdown-menu.headerm:before {
  left: 10px;
}

.tags-list .dropdown-kiroku.dropdown-menu.headerm:after {
  left: 10px;
}

.representative-tag {
  display: inline-block;
}

/*.tags-list span{*/
/*    font-size: 12px;*/
/*}*/

/*.certificate-list span {*/
/*    font-size: 12px;*/
/*}*/

.dropdown-kiroku.dropdown-menu.headerm:after {
  left: auto;
  right: 21px;
  top: -9px;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-bottom: 9px solid rgb(255, 255, 255);
  border-left: 7px solid transparent;
}

.dropdown-kiroku.dropdown-menu.headerm .dropdown-item {
  color: #4d5259;
  font-size: 14px;
}

.dropdown-kiroku.dropdown-menu.headerm .dropdown-item:hover {
  background: #f5f5fa;
}

.wraper-avatar {
  display: flex;
  color: #7f8fa4;
}

.item-user-profile {
  padding: 10px 26px;
}

.fs-16px {
  font-size: 16px;
}

.dropdown-item > * {
  color: #7f8fa4;
}

.avatar-line-login {
  position: relative;
  margin-top: 2px;
  width: 24px;
  height: 24px;
  background: #09c199;
  background-size: cover;
}

.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: -260px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.3s ease-out;
}

.open-slide {
  left: 0;
}

.display-none {
  display: none;
}

.display-none-important {
  display: none !important;
}

.opacity-main {
  z-index: 998;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: black;

}

.opacity-header {
  z-index: 995 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #fff;
}

.opacity-image {
  opacity: 0.3;
}

.slider-close {
  position: fixed;
  top: 8px;
  color: #ffffff;
  right: 23px;
  font-size: 24px;
}

.header-slidenav {
  height: 54px;
  background-color: #fff;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfe2e5;
}

.slider-navigation {
  position: relative;
  overflow: hidden;
  flex: 1 1;
  touch-action: auto;
}

.menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.menu-category {
  position: relative;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
  padding: 1rem 20px 0.5rem;
  color: #7f8fa4;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-category:after {
  content: '';
  width: 100%;
  height: 0;
  border-top: 1px dashed #7f8fa4;
  vertical-align: middle;
  margin-left: 1.5rem;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  margin-top: 3px;
}

.menu-item {
  vertical-align: top;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

a.menu-item {
  text-decoration: none !important;
}

.menu-item .menu-link {
  color: #7f8fa4;
  height: 56px;
  padding: 0 12px;
  font-weight: 400;
  display: -webkit-box;
  display: flex;
  align-items: center;
  transition: .2s linear;
}

.menu-item.active .menu-link {
  background-color: #cde7fd !important;
  border-left: 2px solid #1991eb !important;
}

.menu-item.active .menu-link > * {
  color: #1991eb !important;
}

.menu-item .menu-link .title-menu {
  flex-grow: 1;
  display: flex;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  flex-direction: column;
  line-height: 1;
}

.menu-item .menu-link > * {
  margin-left: 8px;
  margin-right: 8px;
}

.logo-kirokuai {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1991eb;
}

.content-checkbox {
  margin-top: -4px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: Noto Sans, sans-serif;
}

.form-area {
  padding: 6px 15px;
  border-radius: 4px;
  border: solid 1px #d8d9dc;
  min-height: 90px;
  width: 100%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #27aa11;
}

.custom-radio .custom-control-input:disabled ~ .custom-control-label::before,
.custom-radio .custom-control-input:disabled ~ .custom-control-label::after
{
  cursor: not-allowed;
}

.setFontSpan {
  font-family: Noto Sans, sans-serif;
}

.view-1vh {
  height: 100vh;
  background-color: #ffffff
}

.filter-by-web {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

#web-q .bg-card-web {
  background-color: #e8ecf1 !important;
}

.overlay-action-creator {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.action-creator {
  z-index: 5;
  position: absolute;
  top: 30%;
  right: 11%;
  bottom: 0;
}

.scroll-data-dropdown-search {
  max-height: 178px;
  overflow-y: auto;
}

.pt-edit {
  padding-top: 0.12rem !important;
}

.ass {
  padding-top: 10px;
}

#fix-date-rage {
  border-radius: 4px;
  height: 36px;
}

#fix-date-rage .DateRangePickerInput__withBorder {
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  height: 36px;
}

#fix-date-rage .DateInput.DateInput_1 {
  height: 35px;
}

#fix-date-rage .DateInput_input.DateInput_input_1 {
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #dbdbdb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
}

#fix-date-rage .DateRangePicker.DateRangePicker_1 #endDate {
  border-bottom-left-radius: 0;
}

#fix-date-rage .DateRangePicker.DateRangePicker_1 #startDate {
  border-bottom-right-radius: 0;
}

#fix-date-rage input:focus {
  border-bottom: 2px solid #1991eb !important;
}

#fix-date-rage .CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #1991eb;
  border: 1px double #1991eb;
  color: #fff;
}

.fix-icon-input-search {
  border: 0;
  background: transparent;
}

.fa.fa-search {
  font-size: 16px;
}

#input-form-searcher button:focus,
#input-form-searcher button:hover,
#input-form-searcher button:active {
  outline: none;
  border: none;
}

.react-phone-number-input__country-select {
  pointer-events: none;
}

.react-phone-number-input__country.react-phone-number-input__country--native {
  display: none;
}


.scrollbar {
  height: 200px;
  overflow-y: auto;
}

.force-overflow {
  min-height: 200px;
}


#style-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb {
  background-color: #6c798f;
}

.main-loading .fade.show {
  background: #2c3135d4;
}

.close-modal-preview.pdf {
  position: absolute;
  top: -50px;
  right: 10px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-modal-preview.png {
  position: absolute;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-modal-preview:hover,
.close-modal-preview:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-preview-file {
  position: relative;
}


.modal-preview-file .modal-dialog {
  margin: 1.75rem auto;
}

.modal-preview-file .modal-kiroku.fade.show {
  overflow: scroll;
}

.modal-preview-file .modal-dialog.modal-dialog-centered {
  height: 100%;
}

.modal-preview-file .modal-content.pdf {
  height: 90%;
}

.modal-preview-file .modal-content.png {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.modal-preview-file .modal-content iframe {
  width: 100%;
  height: 100%;
}

.modal-survey .card {
  border-radius: 4px;
  border: 0;
}

.modal-survey .sumary-content2 {
  width: 100%;
}

@media only screen and (min-width: 1400px) {
  .modal-survey .content-check {
    width: 85%;
  }
}

@media only screen and (max-width: 1399px) {
  .modal-survey .content-check {
    width: 100%;
  }
}

.padding-top-2px {
  padding-top: 2px;
}

.scroll_Answer_Question {
  overflow: auto;
  height: 360px;
}

.btn-action-review .btn {
  padding: 3px 13px;
}

.wrap-next-question button {
  background-image: linear-gradient(to top, #dfe1e5, #ffffff);
  padding: 5px 16px;
  color: #354052;
  border: solid 1px #ced0da;
}

.tranfer-text,
.tranfer-text:hover,
.tranfer-text:active {
  color: transparent;
}

.submit-search {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  width: 38px;
  background: #17a2b8;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.submit-search i {
  padding-left: 12px;
  color: #fff;
  cursor: pointer;
}

.text--a {
  font-size: 85%;
  font-weight: bold;
}

.scroll-history-answer {
  max-height: 582px;
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-disable {
  cursor: not-allowed !important;
}

input:disabled {
  cursor: not-allowed !important;
}

textarea:disabled {
  cursor: not-allowed !important;
}

.custom-control-disable {
  cursor: not-allowed !important;
}

.group-pin:hover .fas.fa-star {
  color: #f7981c !important;
}

.group-pin:hover .far.fa-star {
  color: #f7981c !important;
}

.bg-disable-question {
  background-color: #6f747b !important;
}

.d-flex-inline {
  display: inline;
}

.serviced-at > input {
  background-color: white !important;
}

.text-page-size {
  color: #7f8fa4;
}

.dropdown-page-size {
  min-width: 60px;
}

.survey-list .page-size-custom .dropdown-kiroku.dropdown-menu.show {
  min-width: 70px;
}

.print-modal {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: NotoSansCJKjp-Bold;
  /*src: url(/assets/fonts/NotoSansJP-Bold.otf);*/
}

@font-face {
  font-family: NotoSansCJKjp-Medium;
  /*src: url(/assets/fonts/NotoSansJP-Medium.otf);*/
}

@font-face {
  font-family: NotoSansCJKjp-Regular;
  /*src: url(/assets/fonts/NotoSansJP-Regular.otf);*/
}

label {
  font-family: Noto Sans, NotoSansCJKjp-Bold, sans-serif;
}

.f-bold {
  font-family: Noto Sans, NotoSansCJKjp-Bold, sans-serif;
}

.slider-navigation ul .menu-item .title-menu,
.bla {
  font-family: Noto Sans, NotoSansCJKjp-Medium, sans-serif;
}

body,
span,
pre {
  font-size: 14px;
  font-family: Noto Sans, NotoSansCJKjp-Regular, sans-serif;
}

a {
  text-decoration: none !important;
}

.btn-kiroku {
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, #f2f4f7, #fff);
  min-width: 120px;
  width: 100%;
  height: 36px;
}

.overflow {
  overflow: hidden;
}

.dropdown-kiroku.dropdown-menu {
  padding: 0;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  z-index: 100;
  min-width: 120px;
}

.customize-media.media {
  padding: 16px 4px;
}

.dropdown-item-kiroku {
  overflow-x: auto;
  display: block;
  width: 100%;
  padding: 10px 10px;
  clear: both;
  font-weight: 400;
  color: #354052;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  border-bottom: solid 1px #d8dadd;
}

.dropdown-kiroku.dropdown-menu.show.top {
  bottom: 100%;
}

.dropdown-item-kiroku:hover {
  background-color: #f1f4f8;
  color: #2ea2f8;
}

.dropdown .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 .3rem;
  left: 124px;
  top: 10px
}

.icon-kiroku {
  color: #a8aab7;
  font-size: 10px;
  position: absolute;
  top: 11px;
  right: 12px;
}

.left {
  float: left;
}

.text-kiroku {
  color: #354052;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
}

.btn.btn-kiroku-primary {
  border-radius: 4px;
  border: solid 1px #1585d8;
  background-image: linear-gradient(to top, #1991eb, #2da1f8);
  padding: 5px 16px;
  color: #fff;
}

.btn.btn-kiroku-primary:hover {
  color: #fff;
  cursor: pointer;
}

.btn.btn-kiroku-success {
  border-radius: 4px;
  border: solid 1px #249533;
  background-image: linear-gradient(to bottom, #39b54a, #34aa44 98%);
  padding: 5px 16px;
  color: #fff;
}

.btn.btn-kiroku-success:hover {
  color: #fff;
  cursor: pointer;
}

.btn.btn-kiroku-warning {
  border-radius: 4px;
  border: solid 1px #f36a19;
  background-image: linear-gradient(to bottom, #f7981c, #f76b1c);
  padding: 5px 16px;
  color: #fff;
}

.btn.btn-kiroku-warning:hover {
  color: #fff;
  cursor: pointer;
}

.btn.btn-kiroku-danger {
  border-radius: 4px;
  border: solid 1px #db161e;
  background-image: linear-gradient(to bottom, #f85359, #dc151d);
  padding: 5px 16px;
  color: #fff;
}

.btn.btn-kiroku-danger {
  color: #fff;
  cursor: pointer;
}

.btn.btn-kiroku-white {
  border-radius: 4px;
  border: solid 1px #ced0da;
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  padding: 5px 16px;
  color: #354052;
}

.btn.btn-kiroku-white:hover {
  color: #354052;
  cursor: pointer;
}

.btn.btn-kiroku-light {
  border-radius: 4px;
  border: solid 1px #ced0da;
  background-image: linear-gradient(to top, #dfe1e5, #ffffff);
  padding: 5px 16px;
  color: #354052;
}

.btn.btn-kiroku-light:hover {
  color: #354052;
  cursor: pointer;
}

.btn.btn-kiroku-transparent {
  border-radius: 4px;
  border: solid 1px transparent;
  padding: 5px 16px;
  color: #354052;
}

.btn.btn-kiroku-transparent:hover {
  color: transparent;
  cursor: pointer;
}

.btn-outline-search {
  /*border-color: #dbe2e7;*/
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;

}

.btn-outline-search:not(:disabled):not(.disabled):active {
  color: #000;
  background-color: #fff;
  /*border-color: #6c757d;*/
}

.check-group {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.check-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-group input:disabled ~ .checkmark {
  cursor: not-allowed;
}

input:disabled {
  cursor: not-allowed;
}

button:disabled {
  cursor: not-allowed !important;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #dee2e6;
  border-radius: 4px;
}

.check-group input:checked ~ .checkmark {
  border: solid 1px #27aa11;
  background-image: linear-gradient(to top, #29b311, #57d841);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-group input:checked ~ .checkmark:after {
  display: block;
}

.check-group .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 .12em .12em 0;
  transform: rotate(45deg);
}

.form-control-kiroku {
  display: block;
  padding: 6px 15px;
  border-radius: 4px;
  border: solid 1px #dfe3e9;
  background-color: #ffffff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
}

.pr-5px {
  padding-right: 5px;
}

.fa.fa-calendar {
  color: #a8aab7;
}

.media {
  display: flex;
  padding: 16px 12px;
  transition: background-color .2s linear;
}

.media-single {
  align-items: center;
}

.media.media-single .media-body a {
  text-decoration: none !important;
}

.ps-container {
  position: relative;
  touch-action: auto;
  /*overflow: auto;*/
}

.media-list-divided > .media:not(.media-list-header):not(.media-list-footer), .media-list-divided .media-list-body > .media {
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.media-list > .media:not(.media-list-header):not(.media-list-footer), .media-list .media-list-body > .media {
  margin-bottom: 0;
}

.media-single, .media-center-v {
  -webkit-box-align: center;
  align-items: center;
}

.media {
  padding: 16px 12px;
  display: flex;
  transition: background-color .2s linear;
}

.media-body {
  min-width: 0;
  flex: 1;
}

.media-body > * {
  margin-bottom: 0;
}

.media > * {
  margin: 0 8px;
}

small {
  color: #8b95a5;
}

.card-title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.card {
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  transition: .5s;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.badge-kiroku {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 8px 8px 8px 8px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  text-transform: uppercase;
  font-weight: 100;

}

.badge-kiroku.badge-kiroku-default {
  border: solid 1px #ced0da;
  background-color: #fff;
  color: #354052;
}

.badge-kiroku.badge-kiroku-primary {
  border: solid 1px #1991eb;
  background-color: #1991eb;
}

.badge-kiroku.badge-kiroku-success {
  border: solid 1px #36af47;
  background-color: #36af47;
}

.badge-kiroku.badge-kiroku-warning {
  border: solid 1px #f7981c;
  background-color: #f7981c;
}

.badge-kiroku.badge-kiroku-danger {
  border: solid 1px #ed1c24;
  background-color: #ed1c24;
}

.badge-kiroku.badge-kiroku-dark {
  border: solid 1px #516173;
  background-color: #516173;
}

.badge-kiroku.badge-kiroku-light {
  border: solid 1px #dfe1e5;
  background-color: #dfe1e5;
  color: #354052;
}

.badge-kiroku.badge-kiroku-muted {
  border: solid 1px #c2cad4;
  background-color: #c2cad4;
}

.action-customer-surveys .action-icon {
  padding: 0 10px;
}

.action-customer-surveys .dropdown div.dropdown-kiroku.popover:after {
  border-bottom: 9px solid rgb(24, 25, 69);
}

.action-customer-surveys .dropdown div.dropdown-kiroku.popover {
  background-color: #091e42;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.24);
}

.action-customer-surveys .dropdown-item-kiroku {
  background-color: #091e42;
  border-radius: 4px;
  color: #2ea2f8;
}

.action-customer-surveys .dropdown-item-kiroku:hover {
  background-color: #091e42;
  color: #2ea2f8;
}

.action-customer-surveys .dropdown div.dropdown-kiroku.popover .dropdown-item-kiroku {
  color: #ffffff;
}

.dropdown .popover {
  right: -10px;
  top: 7px;
  overflow: visible !important;
  border: 1px solid rgb(229, 230, 231);
  border-radius: 2px;
}

.dropdown div.dropdown-kiroku.popover {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 20px;
  width: 240px;
}

.action-customer-surveys .dropdown div.dropdown-kiroku.popover {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 20px;
  width: 300px;
}

.dropdown div.dropdown-kiroku.popover:before {
  left: auto;
  right: 20px;
  content: '';
  position: absolute;
  top: -11px;
  width: 0;
  height: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid rgb(229, 230, 231);
}

.dropdown div.dropdown-kiroku.popover:after {
  left: auto;
  right: 20px;
  top: -9px;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-bottom: 9px solid rgb(255, 255, 255);
  border-left: 7px solid transparent;
}

.popover {
  top: 4px;
  left: -243px;
  max-width: 300px;
}

.divider {

}

.default-background-color {
  background-color: #eef3f6;
  min-height: 100vh;
}

.stylish-input-group .input-group-append .btn-outline-secondary {
  border-color: #ccd2da;
}

.width-40 {
  width: 40%;
}

.mt-16 {
  margin-top: 16px;
}

.mt-12 {
  margin-top: 12px;
}

.label-draft {
  width: 54px;
  height: 20px;
  border-radius: 3px;
  background-color: #f7981c;
  color: #ffffff;
}

.ml-6 {
  margin-left: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-25 {
  margin-top: 25px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mt-7 {
  margin-top: 7px;
}

.pt-8 {
  padding-top: 8px;
}

.mt-11 {
  margin-top: 11px;
}

.modal-kiroku {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}

.modal-footer-kiroku {
  justify-content: center;
}

.display-none {
  display: none;
}

.border-modal {
  border-radius: 4px;
}

.kiroku-btn-data {
  padding: 2px 8px;
  border-radius: 16px;
  border: solid 1px rgba(197, 208, 222, 0.9);
  background-color: #fff;
}

.kiroku-btn-data-more {
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 16px;
  border: solid 1px #1991eb;
  background-color: #fff;
  color: #1991eb;
}

.kiroku-btn-data-more:active {
  padding: 2px 8px;
  border-radius: 16px;
  border: solid 1px #007bff;
  background-color: #fff;
  color: #007bff;
}

.spinner {
  position: relative;
  margin: auto;
  background-image: url("https://apptractor.ru/wp-content/uploads/2017/04/spinner-icon-0.gif");
  background-size: cover;
  background-position: center center;
  width: 20px;
  height: 20px;
}

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker-wrapper .react-datepicker__input-container {
  display: block !important;
}

.modal-title {
  width: 100%;
}

.btn-icon {
  border-color: #ccd2da;
  border-bottom: 0;
  border-top: 0;
  border-radius: 4px 0 0 4px !important;
  background-color: #ffffff;
}

.action-input {
  position: absolute;
  right: 10px;
  top: 6px;
}

.action-input-icon {
  position: absolute;
  left: 10px;
  top: 6px;
}

/*----------------upload file---------------*/

.wrap-upload {
  position: relative;
  margin: auto;
  display: flex;
}

.form-upload {
  margin: auto;
}

.image-upload {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 300px;
  height: 204px;
  min-width: 300px;
}

.image-upload-default {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 300px;
  height: 190px;
  min-width: 267px;
  border: dashed 1px #09c199;
}

.overlay-upload-file {
  position: relative;
  margin: auto;
  max-width: 300px;
}

.content-upload {
  position: relative;
  margin: auto;
  text-align: center;
}

.content-upload button {
  width: 100%;
  border-radius: 0 !important;
}

.form-upload .overlay-upload-file {
  opacity: .7;
}

.overlay-upload-file-default {
  position: relative;
}

.overlay-upload-file-default i {
  position: absolute;
  margin: auto;
  top: 65px;
  bottom: 0;
  right: 0;
  left: 0;
}

.overlay-upload-file-default span {
  position: absolute;
  margin: auto;
  top: 95px;
  bottom: 0;
  right: 0;
  left: 0;
}

.overlay-upload-file-default .fas {
  font-size: 1.6rem;
  padding-right: 5px;
  color: #6c757d;
}

.change-photo {
  font-family: Noto Sans, NotoSansCJKjp-Regular, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #09c199;
  padding-left: 3px;
}

.react-phone-number-input .react-phone-number-input__row .react-phone-number-input__icon img {
  vertical-align: top;
}

.react-phone-number-input__row {
  border: solid 1px #ced4da;
  border-radius: 4px;
  background-color: #ffffff;
  background-clip: padding-box;
}

.react-phone-number-input__icon {
  margin-left: 1rem !important;
  border: 0 !important;
}

.react-phone-number-input input {
  border: none;
  padding: 18px 15px;
}

.react-phone-number-input__country--native {
  margin-right: 0 !important;
}

.content-question .form-control:disabled {
  background-color: white;
}

.content-question .form-area:disabled {
  background-color: white;
}

.dd-wrapper {
  padding: 8px;
}

.menu-dd-wrapper {
  margin-top: 2px;
  border: solid 1px #dfe3e9;
  background-color: #f7f7f7;
}

.menu-dd-wrapper .dropdown-item-kiroku {
  border: none;
}

.fix-icon-align i {
  position: relative;
  margin: auto 0;
}

.fix-icon-align a {
  color: #ffffff !important;
}

#multi-select .css-vj8t7z {
  border: solid 1px #dfe3e9;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.content-pagination {
  border: solid 1px transparent;
  padding: 5px 14px;
  color: #7f8fa4;
}

.total-pagination {
  color: #7f8fa4;
  text-align: right;
}

/*------------------------------------table--------------------------------------*/

#table table {
  width: 100%;
  table-layout: auto;
  background-color: #fff;
  padding-bottom: 12px;
}

#table .tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

#table .tbl-header tr {
  border-bottom: 1px solid #dfe2e5;
}

#table .tbl-content {
  overflow-x: auto;
  margin-top: 0;
}

#table .tbl-content tr:hover {
  background: rgb(238, 243, 246);
}

#table .tbl-content tr:nth-child(even) {
  background: rgba(197, 208, 222, 0.1)
}

#table .tbl-content tr:nth-child(even):hover {
  background: rgb(238, 243, 246);
}

#table th {
  padding: 20px 15px;
  text-align: left;
  font-family: Noto Sans, NotoSansCJKjp-Regular, sans-serif;
  font-weight: 500;
  color: #7f8fa4;
  text-transform: uppercase;
}

#table td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  color: #091e42;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.on {
  /*box-sizing: border-box;*/
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  max-height: 250px;
  /*overflow-x: hidden;*/
  /*overflow-y: auto;*/
  transition: 0.3s ease-out;
}

.off {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 9999;
  width: 100%;
  max-height: 250px;
  transition: 0.3s ease-out;
}

.notification {
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  min-height: 60px;
  line-height: 1.2em;
  position: relative;
}

.notification .fa-check-circle {
  font-size: 20px;
  float: left;
  position: relative;
  margin: auto;
}

.card-kiroku-web {
  border-radius: 0;
  border: solid 1px #dfe2e5;
}

.card-title-web {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
  padding-bottom: 0;
}

#web-q .card-kiroku-web {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-bottom: 0;
}

.kiroku-action-survey {
  width: 24px;
  height: 24px;
  border: 2px solid #a8aab7;
  border-radius: 50%;
  color: #a8aab7;
}

.card-title.card-title-web.bg-success {
  background-color: #e7f9f5 !important;
}

.as {
  position: relative;
  margin: auto;
}

.css-12jo7m5 {
  overflow: visible !important;
}

.form-error {
  border: solid 1px #d30f00 !important;
}

#component-question textarea:disabled {
  background-color: #ffffff;
}

.change-status-password-user {
  position: absolute;
  top: 20%;
  right: 8px;
}

#no-results {
  background-color: #ffffff !important;
}

.align-icon {
  vertical-align: baseline;
  padding-left: 10px;
  color: #c7d2e0
}

.title-label-select-team {
  font-weight: bold;
  color: #36af47;
}

.title-label-select-user {
  font-weight: bold;
  color: #17a2b8 !important;
}

.title-label-select-survey {
  font-weight: bold;
  color: #17a2b8;
}

.badge-select-team {
  background-color: #EBECF0;
  border-radius: 2em;
  color: #36af47;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  min-width: 1px;
  padding: 0.16666666666667em 0.5em;
  text-align: center
}

.badge-select-user {
  background-color: #EBECF0;
  border-radius: 2em;
  color: #17a2b8;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  min-width: 1px;
  padding: 0.16666666666667em 0.5em;
  text-align: center
}

.badge-select-survey {
  background-color: #EBECF0;
  border-radius: 2em;
  color: #516173;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  min-width: 1px;
  padding: 0.16666666666667em 0.5em;
  text-align: center
}

.representative-tag:after {
  content: '\A';
  white-space: nowrap;
}

.tags-dropdown {
  padding-top: 5px;
}

.baner {
  width: auto;
  height: auto;
  max-height: 150px;
}

.card.card-kiroku-web:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}